.Buttons button {
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
  width: 150px;
}

.Buttons button:hover,
.Buttons button:active {
  background-color: #510674;
  border-color: #510674;
}

.Buttons button:disabled {
  background-color: grey;
  border-color: grey;
  cursor: default;
}
